@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* remove arraw on input type number */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  } */
}

/* TODO: Support Light and Dark theme */
body {
  font-size: theme(fontSize.sm);
  background-color: rgb(248 250 252 / 0.55); /* colors.slate.50/55 */
  background-size: theme(backgroundSize.cover);
  background-image: url(../images/background-image.png);
  /* font-family: '-apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif'; */
}

/* ::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 5px;
  border-radius: 5px;
} */

::-webkit-scrollbar-track {
  background-color: rgb(241 245 249);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(241 245 249 / 0.8);
}

.hide-vertical-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

.hide-horizontal-scrollbar::-webkit-scrollbar {
  height: 0 !important;
}

.hide-both-scrollbars::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
}

/* disabled focus outline */
:focus {
  @apply outline-none;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-600 via-purple-500 to-sky-400;

  &:hover {
    @apply hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-purple-600 hover:via-sky-500 hover:to-primary-400;
  }
}

.text-gradient-hover {
  @apply hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-purple-600 hover:via-sky-500 hover:to-primary-400;
}

.group-text-gradient-hover {
  @apply group-hover:bg-clip-text group-hover:text-transparent group-hover:bg-gradient-to-r from-primary-600 to-purple-500;
}

.group-gradient-hover {
  @apply group-hover:bg-gradient-to-r from-primary-600/75 to-purple-500/75 text-white;
}

/* react-query-devtools position */
.tsqd-open-btn-container {
  @apply !-left-9 !bottom-1.5 hover:!left-1.5 opacity-25 hover:transition hover:ease-in-out hover:opacity-85 duration-700;
}
