.idea
.vscode
node_modules
.DS_Store
dist
dist-ssr
dev-dist
*.local
.env
.env.*
.env.production
!.env.example
yarn-error.log
stats.html
version.json
.version.json
.turbo
.eslintcache
package-lock.json
yarn.lock
